---

---

<footer class="py-8 mt-auto bg-gray-200 select-none">
  <div class="max-w-2xl px-8 mx-auto">
    <div class="flex">
      <div>© {new Date().getFullYear()} Josh Pullen</div>
      <div class="flex flex-col ml-auto sm:flex-row">
        <a
          class="flex items-center ml-4 text-gray-700 hover:text-indigo-700"
          href="https://github.com/PullJosh/"
          target="_blank"
          rel="noreferrer"
        >
          <svg class="w-5 h-5 mr-2" viewBox="0 0 7.408 7.408">
            <path
              d="M3.704.09a3.704 3.704 0 00-1.17 7.22c.185.033.252-.081.252-.18l-.005-.63c-1.03.224-1.248-.496-1.248-.496-.168-.428-.411-.542-.411-.542-.336-.23.025-.225.025-.225.372.026.568.382.568.382.33.566.867.402 1.078.308.033-.24.129-.403.235-.496-.823-.093-1.687-.411-1.687-1.83 0-.405.144-.735.381-.994-.038-.094-.165-.47.036-.98 0 0 .311-.1 1.019.379a3.547 3.547 0 011.854 0c.708-.48 1.018-.38 1.018-.38.202.51.075.887.037.98.237.26.38.59.38.995 0 1.423-.865 1.736-1.69 1.827.132.115.25.34.25.686 0 .495-.004.895-.004 1.016 0 .1.067.215.255.179A3.706 3.706 0 003.704.09"
              fill="currentColor"></path>
          </svg>
          <span>Github</span>
        </a>
        <a
          class="flex items-center ml-4 text-gray-700 hover:text-indigo-700"
          href="https://bsky.app/profile/pulljosh.com"
          target="_blank"
          rel="noreferrer"
        >
          <svg class="w-5 h-5 mr-2" viewBox="0 0 600 530" version="1.1">
            <path
              d="m135.72 44.03c66.496 49.921 138.02 151.14 164.28 205.46 26.262-54.316 97.782-155.54 164.28-205.46 47.98-36.021 125.72-63.892 125.72 24.795 0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.3797-3.6904-10.832-3.7077-7.8964-0.0174-2.9357-1.1937 0.51669-3.7077 7.8964-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.4491-163.25-81.433-5.9562-21.282-16.111-152.36-16.111-170.07 0-88.687 77.742-60.816 125.72-24.795z"
              fill="currentColor"></path>
          </svg>
          <span>BlueSky</span>
        </a>
        <a
          class="flex items-center ml-4 text-gray-700 hover:text-indigo-700"
          href="https://www.youtube.com/c/PullJosh/"
          target="_blank"
          rel="noreferrer"
        >
          <svg class="w-5 h-5 mr-2" viewBox="0 0 28 28">
            <path
              d="M11.2 18.2V9.8l7.274 4.2zM27.414 7.26a3.507 3.507 0 00-2.476-2.474C22.755 4.2 14 4.2 14 4.2s-8.755 0-10.939.586A3.507 3.507 0 00.585 7.26C0 9.444 0 14 0 14s0 4.555.585 6.739a3.507 3.507 0 002.475 2.475C5.244 23.8 14 23.8 14 23.8s8.755 0 10.938-.585a3.507 3.507 0 002.476-2.475c.585-2.184.585-6.74.585-6.74s0-4.556-.585-6.74"
              fill="currentColor"></path>
          </svg>
          <span>YouTube</span>
        </a>
      </div>
    </div>
  </div>
</footer>
