<form
  class="bg-gray-100 border py-4 pl-5 pr-4 rounded-2xl flex space-y-4 sm:space-x-4 sm:space-y-0 flex-col sm:flex-row"
  action="https://app.kit.com/forms/7835920/subscriptions"
  method="post"
  data-sv-form="7835920"
  data-uid="7de29c108d"
  data-format="inline"
  data-version="5"
  data-options='{"settings":{"after_subscribe":{"action":"message","success_message":"Success! Now check your email to confirm your subscription.","redirect_url":""},"analytics":{"google":null,"fathom":null,"facebook":null,"segment":null,"pinterest":null,"sparkloop":null,"googletagmanager":null},"modal":{"trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"powered_by":{"show":false,"url":"https://kit.com/features/forms?utm_campaign=poweredby&utm_content=form&utm_medium=referral&utm_source=dynamic"},"recaptcha":{"enabled":false},"return_visitor":{"action":"show","custom_content":""},"slide_in":{"display_in":"bottom_right","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"sticky_bar":{"display_in":"top","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15}},"version":"5"}'
>
  <div class="flex-1">
    <strong class="block text-lg font-semibold">Never miss a post!</strong>
    <p class="text-gray-700 text-sm">
      Sign up for email updates every time I publish. Unsubscribe any time.
    </p>
  </div>
  <div
    class="flex flex-col space-y-2 xs:flex-row xs:space-x-2 xs:space-y-0 sm:self-center"
  >
    <label class="flex-1 flex flex-col">
      <span class="font-medium">Email:</span>
      <input
        class="bg-white border px-4 py-2 rounded-md flex-1 w-full"
        name="email_address"
        aria-label="Email Address"
        placeholder="Email Address"
        type="email"
        required
      />
    </label>
    <div class="flex-initial flex-col flex">
      <span class="font-medium hidden xs:block">&nbsp;</span>
      <button
        type="submit"
        class="bg-yellow-400 text-yellow-950 px-6 py-2 rounded-md flex-1 hover:bg-yellow-300 active:bg-yellow-500 transition-colors"
      >
        Subscribe
      </button>
    </div>
  </div>
</form>
