<form class="contactForm" name="contact" method="POST" data-netlify="true">
  <input type="hidden" name="form-name" value="contact" />
  <label class="contactForm__label" for="name">Name</label>
  <input class="contactForm__input" type="text" name="name" id="name" autocomplete="name" placeholder="Your name" title="Please enter your name" required>
  <label class="contactForm__label" for="email">Email</label>
  <input class="contactForm__input" type="email" name="email" id="email" autocomplete="email" placeholder="Your email address" required>
  <label class="contactForm__label" for="message">Message</label>
  <textarea class="contactForm__input" name="message" id="message" placeholder="Write your message here" rows="7" required></textarea>
  <button class="contactForm__button" type="submit" name="submit">Send Message</button>
</form>
