<section class="posts">
  {% for post in postslist | reverse %}
    <article class="post">
      <a class="post__header" href="{{ post.url | url }}">
        <h3 class="post__title">
          {% if post.data.title %}
            {{ post.data.title }}
          {% else %}
            Untitled
          {% endif %}
        </h3>
        <time class="post__date" datetime="{{ post.date | machineDate }}">{{ post.date | readableDate }}</time>
      </a>

      {% if post.data.summary %}
        <div class="post__content post__content--summary">
          <p>{{ post.data.summary }}</p>
          <p><a class="post__readMore" href="{{ post.url | url }}">Read more...</a></p>
        </div>
      {% endif %}
    </article>
  {% endfor %}
</section>
