<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

  {% include "components/head.njk" %}

  <body>
    {% include "components/sidebar.njk" %}

    <main class="page">
      <div class="page__content">
        {{ layoutContent | safe }}
      </div>
    </main>

  </body>
</html>
