---
layout: layouts/base.njk
section: post
---

<article class="post">
  <a class="post__header" href="{{ page.url | url }}">
    <h3 class="post__title">
      {% if title %}
        {{ title }}
      {% else %}
        Untitled
      {% endif %}
    </h3>
    <time class="post__date" datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
  </a>

  <div class="post__content">
    {{ layoutContent | safe }}
    <p>
    </p>
      <a href="/" class="post__homeLink">← Back home</a>
  </div>
</article>
