@tailwind base;
@tailwind components;
@tailwind utilities;

.w-break-free {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.typography {
  @apply text-lg;
  @apply leading-7;
}
.typography p {
  @apply m-0;
}
.typography p:not(:last-child),
.typography ul:not(:last-child),
.typography ol:not(:last-child) {
  @apply mb-4;
}
.typography a {
  @apply text-indigo-600;
}
.typography a:hover {
  @apply text-indigo-800;
}
.typography h3 {
  @apply text-3xl;
  @apply font-semibold;
  @apply mb-3;
}
.typography h4 {
  @apply text-2xl;
  @apply font-semibold;
  @apply mb-2;
}
.typography h5 {
  @apply text-xl;
  @apply font-semibold;
  @apply mb-1;
}
.typography h6 {
  @apply text-lg;
  @apply font-semibold;
}
.typography ul {
  @apply list-disc;
  @apply pl-8;
}
.typography ol {
  @apply list-decimal;
  @apply pl-8;
}
.typography ol > li {
  @apply pl-2;
}
.typography li:not(:last-child) {
  @apply mb-2;
}
.typography blockquote {
  @apply border-l-4;
  @apply border-gray-900;
  @apply pl-4;
  @apply py-2;
  @apply mb-4;
}
.typography .prism-code {
  @apply py-3;
  @apply rounded;
  @apply mb-4;
}
.typography .prism-code > * {
  @apply px-4;
}
.typography .prism-code > .prism-line-highlighted {
  @apply bg-indigo-900;
}
